[Unit]
Description=PEP API
ConditionPathExists=/home/jstor/pep/api
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/jstor/pep
ExecStart=/home/jstor/pep/api
PIDFile=/run/pep/api.pid

[Install]
WantedBy=multi-user.target
