[Unit]
Description=updateD
ConditionPathExists=/usr/bin/updated
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/
ExecStart=/usr/bin/updated
PIDFile=/run/updated.pid

[Install]
WantedBy=multi-user.target